# .NET
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/

# Secrets & Certs
appsettings.Development.json
*.pfx
*.key
!certs/.gitkeep

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
/src/TFM.Agent/appsettings.Production.json
/src/TFM.Broker/appsettings.Production.json
/src/TFM.Dashboard/appsettings.Production.json
/certs
